<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="Regression1"   >
        <classes>
            <class name="base.profile.ChangeDataInProfile"></class>
            <class name="base.signUp.SignUp"></class>
            <class name="base.login.Lg"></class>
            <class name="base.login.Header"></class>
            <class name="base.login.Lout"></class>
            <class name="base.Buy.BuyShares"></class>
        </classes>
    </test>
</suite>